.picture {
    /*
    Lay the picture containers out one after the other. (To see why
    this line is important, try changing it to 'block' or 'inline'.)
    */
    display: inline-block;

    /* add a little space between each picture and the next */
    margin: 10px;
}

.gallery img {
    /*
    The original images are all different sizes but we need
    them to be consistent for the gallery layout to look good.
    */
    height: 200px;

    /* add an outline around each picture */
    border: 3px double black;
}

.gallery p {
    text-align: center;
    margin-top: 0;
}
body{
    text-align:center;
    background:url(https://images.theconversation.com/files/393210/original/file-20210401-13-z6rl6z.jpg?ixlib=rb-1.1.0&rect=0%2C292%2C3008%2C1504&q=45&auto=format&w=1356&h=668&fit=crop);
    color:orange;
    background-size: 125em;
}

.birds {
    border: black 2px dotted;
}